header,nav,section,aside, footer {
    padding:5%;
    background-color: lightgrey;
    text-align: center;
    margin: 1%;

}
body {
    background: grey;
    margin-top: 1%;
    margin-right: 13%;
    margin-bottom: 8%;
    margin-left: 10%; 
}

section {
    width: 40%;
    height: 20%;
    margin-right: 0
}

article {
    background-color: gray;
    padding: 5%;
    color: white;
}

h1, p {
    background-color: lightgray;
    padding: 5%;
    margin: 2%;
    color: gray;
}

aside {
    clear: right;=
}

