header, nav, section, footer {
    padding:5%;
    background-color: lightgrey;
    text-align: center;
    margin: 1%;
    color: gray;

}
body {
    background: grey;
    margin-top: 1%;
    margin-right: 13%;
    margin-bottom: 6%;
    margin-left: 10%; 
}

section {
    width: 46%;
    height: 20%;
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-left: 1%;
    float: left;
    padding-top: 12%;
    text-align:center;
}

article {
    background-color: gray;
    padding: 5px;
    color: white;
    margin: -7%;
}

h1, p {
    background-color: lightgray;
    padding: 5%;
    margin: 2%;
    color: gray;
}

aside {
    width: 39%;
    height: 229px;
    margin-top: 2%;
    margin-right: 1%;
    margin-bottom: 2%;
    margin-left: 1%;
    float: left;
    color: gray;
    background-color: lightgray;
    text-align: center
}
.clearfix {
    overflow: auto;
    clear: both;
}

